langchain
langchain-classic
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-chroma
python-dotenv
faiss-cpu
sentence-transformers
huggingface_hub
llama-cpp-python
wikipedia
arxiv
pydantic
pydantic-settings
opencv-python
pyaudio
pyserial
numpy
librosa
pyttsx3
streamlit
requests
deepface
mediapipe==0.10.9
tf-keras
gdown
fastapi
uvicorn[standard]
python-multipart
websockets
aiofiles
pandas
transformers
faster-whisper
ctranslate2
soundfile
